<section class="ui center aligned page" style="margin-left: 1vw; width: 88%;">
  <div class="row">
    <h1><i class="fas fa-users"></i> Testing Devices Management</h1>
  </div>
  <div class="ui hidden divider"></div>
  <% include ./partials/messages_semantic_ui %>
  <table class="ui stripped celled sortable table">
    <thead>
      <tr>
        <th class="one wide">Device Status</th>
        <th class="two wide">Device Type</th>
        <th class="three wide">Device Endpoint Url</th>
        <th class="two wide">Device Extension Number</th>
        <th class="two wide">Account Username</th>
        <th class="two wide">Account Password</th>
        <th class="two wide">Role</th>
        <th class="two wide">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< devices.length; i++) { var colors =['blue', 'green',
      'yellow'] %>
      <tr>
        <td class="one wide">
          <% if(devices[i].deviceStatus) { %>
          <div class="ui green ribbon label">OK</div>
          <% } else { %>
          <div class="ui red ribbon label">Offline</div>
          <% } %>
        </td>
        <td class="two wide"><%= devices[i].deviceType %></td>
        <td class="three wide"><%= devices[i].deviceUrl %></td>
        <td class="two wide"><%= devices[i].deviceExtNo %></td>
        <td class="two wide"><%= devices[i].deviceUsername %></td>
        <td class="two wide"><%= devices[i].devicePassword %></td>
        <td class="two wide ">
          <div class="ui <%= colors[i] %> tag label">
            <%= devices[i].role %>
          </div>
        </td>
        <td class="two wide">
          <div class="ui two buttons">
            <a
              href="/settings/<%= deviceId %>/edit_device/<%= devices[i].role %>"
            >
              <button class="ui positive button">Edit</button>
            </a>
            <div class="or"></div>
            <a
              href="/settings/<%= deviceId %>/delete_device/<%= devices[i].role %>"
            >
              <form
                action="/settings/delete"
                method="POST"
                class="delete_device"
                name="<%= deviceId %>_<%= devices[i].role %>"
              >
                <button class="ui negative button" type="submit">Delete</button>
              </form>
            </a>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th colspan="7">
          <a href="/settings/add_device">
            <div class="ui right floated small primary labeled icon button">
              <i class="desktop icon"></i> Add Device
            </div>
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</section>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="desktop icon"></i> Deleting An Existing Device
  </div>
  <div class="content"><p>Are you sure you want to delete this device?</p></div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Yes
    </div>
  </div>
</div>
