<section class="ui center aligned page" style="margin-left: 1vw; width: 88%;">
  <div class="row">
    <h1><i class="fas fa-users"></i> Testing Devices Management</h1>
  </div>
  <div class="ui hidden divider"></div>
  <% include ./partials/messages_semantic_ui %>
  <table class="ui stripped celled sortable table">
    <thead>
      <tr>
        <th class="one wide">Device Status</th>
        <th class="one wide">Device Name</th>
        <th class="one wide">Device Type</th>
        <th class="one wide">Is API Controlled?</th>
        <th class="three wide">Device Endpoint Url</th>
        <th class="one wide">Device Extension Number</th>
        <th class="one wide">Device Number/Address</th>
        <th class="two wide">Account Username</th>
        <th class="two wide">Account Password</th>
        <th class="three wide">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< devices.length; i++) { %>
      <tr>
        <td class="one wide"><div id=status_div_<%= devices[i].deviceName %>></div></td>
        <td class="one wide"><%= devices[i].deviceName %></td>
        <td class="one wide"><%= devices[i].deviceType %></td>
        <td class="one wide"><%= devices[i].isDeviceApiControlled %></td>
        <td class="three wide"><%= devices[i].deviceUrl %></td>
        <td class="one wide"><%= devices[i].deviceExtNo %></td>
        <td class="one wide"><%= devices[i].deviceNumberAddr %></td>
        <td class="two wide"><%= devices[i].deviceUsername %></td>
        <td class="two wide"><%= devices[i].devicePassword %></td>
        <td class="three wide">
          <div class="ui three buttons">
            <a
              href="/settings/edit_device/<%= devices[i].deviceName %>"
            >
              <button class="ui positive button">Edit</button>
            </a>
            <div class="or"></div>
            <a
              href="/settings/delete_device/<%= devices[i].deviceName %>"
            >
              <form
                action="/settings/delete"
                method="POST"
                class="delete_device"
                name=<%= devices[i].deviceName %>
              >
                <button class="ui negative button" type="submit">Delete</button>
              </form>
            </a>
            <% if(devices[i].isDeviceApiControlled === 'controlled') { %>
            <div class="or"></div>
            <a href="/settings/check_status">
              <form
                action="/settings/check_status"
                method="POST"
              >
                <input
                  type="hidden"
                  name=deviceName_<%= deviceId %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].deviceName %>"
                />
                <input
                  type="hidden"
                  name=deviceUrl_<%= deviceId %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].deviceUrl %>"
                />
                <input
                  type="hidden"
                  name=deviceUsername_<%= deviceId %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].deviceUsername %>"
                />
                <input
                  type="hidden"
                  name=devicePassword_<%= deviceId %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].devicePassword %>"
                />
                <button
                  class="ui teal button deviceTestStatusButton"
                  type="button"
                >
                  Test Status
                </button>
              </form>
            </a>
            <% } %>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th colspan="9">
          <a href="/settings/add_device">
            <div class="ui right floated small primary labeled icon button">
              <i class="desktop icon"></i> Add Device
            </div>
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</section>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="desktop icon"></i> Deleting An Existing Device
  </div>
  <div class="content"><p>Are you sure you want to delete this device?</p></div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Yes
    </div>
  </div>
</div>
