<section class="ui center aligned page" style="margin-left: 1vw; width: 88%;">
  <div class="row">
    <h1><i class="fas fa-users"></i> Testing Devices Management</h1>
  </div>
  <div class="ui hidden divider"></div>
  <% include ./partials/messages_semantic_ui %>
  <table class="ui stripped celled sortable table" style="font-size: 0.75em;width: 80vw!important;max-width: 80vw;">
    <thead>
      <tr>
        <th class="one wide">Status</th>
        <th class="one wide">Name</th>
        <th class="one wide">Type</th>
        <th class="one wide">API Control</th>
        <th class="one wide">Protocol</th>
        <th class="one wide">IP Address</th>
        <th class="one wide">Port Number</th>
        <th class="one wide">Extension Number</th>
        <th class="one wide">Number/Address</th>
        <th class="one wide">Username</th>
        <th class="one wide">Password</th>
        <th class="one wide">Modified By</th>
        <th class="four wide">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< devices.length; i++) { %>
      <tr>
        <td class="one wide"><div id=status_div_<%= devices[i].deviceName %>></div></td>
        <td class="one wide"><%= devices[i].deviceName %></td>
        <td class="one wide"><%= devices[i].deviceType %></td>
        <td class="one wide"><%= devices[i].isDeviceApiControlled %></td>
        <td class="one wide"><%= devices[i].deviceProtocol %></td>
        <td class="one wide"><%= devices[i].deviceIPAddress %></td>
        <td class="one wide"><%= devices[i].devicePortNumber %></td>
        <td class="one wide"><%= devices[i].deviceExtNo %></td>
        <td class="one wide"><%= devices[i].deviceNumberAddr %></td>
        <td class="one wide"><%= devices[i].deviceUsername %></td>
        <td class="one wide"><%= devices[i].devicePassword %></td>
        <td class="one wide"><%= devices[i].modifiedBy %></td>
        <td class="four wide">
          <div class="mini ui three buttons">
            <a
              href="/devices/edit_device/<%= devices[i]._id %>"
            >
              <button class="ui positive button">Edit</button>
            </a>
            <div class="or"></div>
            <form
              action="/devices/delete"
              method="POST"
              class="delete_device"
              name=<%= devices[i]._id %>
            >
              <button class="ui negative button" type="submit">Delete</button>
            </form>
            <% if(devices[i].isDeviceApiControlled === 'controlled') { %>
            <div class="or"></div>
              <form
                action="/devices/check_status"
                method="POST"
              >
                <input
                  type="hidden"
                  name=deviceName_<%= devices[i]._id %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].deviceName %>"
                />
                <input
                  type="hidden"
                  name=deviceProtocol_<%= devices[i]._id %>_<%= devices[i].deviceProtocol %>
                  value="<%= devices[i].deviceProtocol %>"
                />
                <input
                  type="hidden"
                  name=deviceIPAddress_<%= devices[i]._id %>_<%= devices[i].deviceIPAddress %>
                  value="<%= devices[i].deviceIPAddress %>"
                />
                <input
                  type="hidden"
                  name=devicePortNumber_<%= devices[i]._id %>_<%= devices[i].devicePortNumber %>
                  value="<%= devices[i].devicePortNumber %>"
                />
                <input
                  type="hidden"
                  name=deviceUsername_<%= devices[i]._id %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].deviceUsername %>"
                />
                <input
                  type="hidden"
                  name=devicePassword_<%= devices[i]._id %>_<%= devices[i].deviceName %>
                  value="<%= devices[i].devicePassword %>"
                />
                <button
                  class="ui teal button deviceTestStatusButton"
                  type="button"
                >
                  Test
                </button>
              </form>
            <% } %>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="12"></th>
        <th>
          <a href="/devices/add_device">
            <div class="ui left floated mini primary labeled icon button">
              <i class="desktop icon"></i> Add Device
            </div>
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</section>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="desktop icon"></i> Deleting An Existing Device
  </div>
  <div class="content"><p>Are you sure you want to delete this device?</p></div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Yes
    </div>
  </div>
</div>
