<section class="ui center aligned page" style="margin-left: 1vw; width: 88%;">
  <div class="row">
    <h1><i class="fas fa-users"></i> Tasks Management</h1>
  </div>
  <div class="ui hidden divider"></div>
  <% include ./partials/messages_semantic_ui %>
  <table class="ui stripped celled sortable table" style="font-size: 0.8em;width: 80vw!important;max-width: 80vw;">
    <thead>
      <tr>
        <th class="one wide">Task Status</th>
        <th class="one wide">Description</th>
        <th class="one wide">Task Type</th>
        <th class="one wide">Primary Device</th>
        <th class="one wide">Secondary Device</th>
        <th class="one wide">Third Device</th>
        <!-- <th class="one wide">Fourth Device</th> -->
        <th class="one wide">Start Date</th>
        <th class="one wide">End Date</th>
        <th class="one wide">Run At</th>
        <th class="one wide">Related Reports</th>
        <th class="four wide">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< tasks.length; i++) {%>
      <tr>
        <td class="one wide" id="task_status_<%= tasks[i]._id %>">
          <% if(tasks[i].status==='pending') { %>
          <div class="ui yellow ribbon label"><%= tasks[i].status %></div>
          <% } else if(tasks[i].status==='complete') { %>
          <div class="ui green ribbon label"><%= tasks[i].status %></div>
          <% } else if(tasks[i].status==='fail') { %>
          <div class="ui red ribbon label"><%= tasks[i].status %></div>
          <% } %>
        </td>
        <td class="one wide"><%= tasks[i].text %></td>
        <td class="one wide"><%= tasks[i].task_type %></td>
        <td class="one wide"><%= tasks[i].primary_device %></td>
        <td class="one wide"><%= tasks[i].secondary_device %></td>
        <td class="one wide"><%= tasks[i].third_device %></td>
        <!-- <td class="one wide"><%= tasks[i].fourth_device %></td> -->
        <td class="one wide"><%= tasks[i].start_date %></td>
        <td class="one wide"><%= tasks[i].end_date %></td>
        <td class="one wide"><%= tasks[i].run_at %></td>
        <td class="one wide">
          <% if(tasks[i].reportId) { %><a
            href="/reports/related_report/<%= tasks[i]._id %>"
            style="padding-left:15px;"
            >Reports List</a
          ><% } %>
        </td>
        <td class="four wide">
          <div class="mini ui three buttons">
            <a href="/tasks/edit/<%= tasks[i]._id %>">
              <button class=" ui positive button">Edit</button>
            </a>
            <div class="or"></div>
            <form
              action="/tasks/delete/<%= tasks[i]._id %>"
              method="POST"
              class="delete_task"
              name="<%= tasks[i]._id %>"
            >
              <button class="ui negative button" type="submit">
                Delete
              </button>
            </form>
            <div class="or"></div>
            <!-- <form
              action="/tasks/reset/<%= tasks[i]._id %>"
              method="POST"
              class="reset_task"
              name="<%= tasks[i]._id %>"
            >
              <button class=" ui yellow button" type="submit">
                Reset Pending
              </button>
            </form>
            <div class="or"></div> -->
            <form
              action="/tasks/run/<%= tasks[i]._id %>"
              method="POST"
              class="run_task"
              name="<%= tasks[i]._id %>"
            >
              <button class=" ui teal button" type="submit">
                Run Now
              </button>
            </form>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
    <tfoot>
      <tr>
        <th></th>
        <th colspan="12">
          <a href="/tasks/create">
            <div class="ui right floated mini primary labeled icon button">
              <i class="tasks icon"></i> Create New Task
            </div>
          </a>
        </th>
      </tr>
    </tfoot>
  </table>
</section>
<div class="ui basic modal">
  <div class="ui icon header">
    <i class="user icon"></i> Deleting A Scheduled Task
  </div>
  <div class="content"><p>Are you sure you want to delete this task?</p></div>
  <div class="actions">
    <div class="ui red basic cancel inverted button">
      <i class="remove icon"></i> No
    </div>
    <div class="ui green ok inverted button">
      <i class="checkmark icon"></i> Yes
    </div>
  </div>
</div>
<div class="ui modal run_now">
  <i class="close icon"></i>
  <div class="header">
    Testing Live Trace
  </div>
  <div class="image content">
    <div class="ui medium image">
      <img src="/images/live.png" />
    </div>
    <div class="description">
      <p id="messageBox"></p>
    </div>
  </div>
  <div class="actions">
    <button class="ui red deny labeled icon button" id="run_cancel_btn">
      <i class="x icon"></i>
      Cancel
    </button>
    <button class="ui positive labeled icon button" id="run_now_btn">
      <i class="play icon"></i>
      Run Now
    </button>
  </div>
</div>
