<!-- .section -->
<section
  class="ui center aligned raised segment"
  style="width: 75vw; margin-left: 1vw;"
>
  <h2>Call Status Report</h2>
  <table class="ui striped celled  table">
    <thead>
      <tr>
        <th>Report Id</th>
        <th>Date</th>
        <th>Call Status</th>
        <th>Details</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for(var i=0; i< results.length; i++) {%>
      <tr>
        <td><%= results[i].reportId %></td>
        <td><%= results[i].date %></td>
        <td><%= results[i].status %></td>
        <td>
          <a href="/reports/call_status/<%= results[i].reportId %>">Details</a>
        </td>
        <td>
          <form action="/emails/<%= results[i].reportId %>" method="POST">
            <input type="hidden" name="reportType" value="call_status" />
            <button class="ui tiny teal button" disabled="disabled">
              Send Report
            </button>
          </form>
        </td>
      </tr>

      <% } %>
    </tbody>
  </table>
  <!--  data table -->
</section>
<!-- .section -->
