<section class="ui center aligned page relaxed grid" style="width: 80%;">
  <div class="row">
    <h1>
      <i class="fas fa-desktop"></i> <%= title %>
    </h1>
  </div>
  <div class="ui hidden divider"></div>
  <div class="ten column relaxed row">
     <div class="ui stacked segment ten wide column">
      <% include ./partials/messages_semantic_ui %>
      <form action="/tasks/create" method="POST" class="ui medium form">
        <div class="field">
          <label for="taskType">Task Type</label>
          <select name="taskType" id="taskType">
              <option value="">-- Please Select --</option>
              <% for(var i=0;i<taskTypeKeys.length;i++) {  %>
                <option value=<%= taskTypeValues[i] %> ><%= taskTypeKeys[i] %></option>
              <% } %>
          </select>
        </div>

        <div class="field">
          <label for="taskType">Frequency</label>
          <select name="taskRepentance" id="taskRepentance">
              <option value="">-- Please Select --</option>
              <% for(var i=0;i<taskRepentanceKeys.length;i++) {  %>
                <option value=<%= taskRepentanceValues[i] %> ><%= taskRepentanceKeys[i] %></option>
              <% } %>
          </select>
        </div>

        <div id="once_off_datepicker_container" >  
          <h3>Once Off Job Starting Time</h3>
          <div class="ui calendar" id="once_off_datepicker" >
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" placeholder="Date/Time">
            </div>
          </div>
          <br/>
        </div>
        <div id="recurring_task_datepicker_container" >
            <div style="display: inline-block;padding-right: 10px;">
                <h3>Recurring Task Start Date</h3>
                <div class="ui calendar" id="recurring_task_start_datepicker">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time">
                  </div>
                </div>
            </div>
            <div style="display: inline-block;">
                <h3>Recurring Task End Date</h3>
                <div class="ui calendar" id="recurring_task_end_datepicker">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" placeholder="Date/Time">
                  </div>
                </div>
            </div>
        </div>
        
        <div class="ui hidden divider"></div>
        <button type="submit" class="ui primary button">Save</button>
      </form>
     </div>
  </div>
</section>
