<section class="ui center aligned page relaxed grid" style="width: 80%;">
  <div class="row">
    <h1>
      <i class="fas fa-desktop"></i> <%= title %>
    </h1>
  </div>
  <div class="ui hidden divider"></div>
  <div class="fourteen column relaxed row">
     <div class="ui stacked segment fourteen wide column">
      <% include ./partials/messages_semantic_ui %>
      <form action="/tasks/edit/<%= task._id %>" method="POST" class="ui medium form">
        <input type="hidden" name="_id" value="<%= task._id %>">
        <input type="hidden" name="userID" value="<%= task.userID %>">
        <div class="field">
          <label for="text">Task Name</label>
          <input type="text" name="text" id="text" value="<%= task.text %>" placeholder="Please enter a description of the new task">
        </div>
        <div class="field">
          <label for="task_type">Task Type</label>
          <select name="task_type" id="task_type">
              <option value="">-- Please Select --</option>
              <% for(var i=0;i<taskTypeKeys.length;i++) { var selected = taskTypeIndex === i ? "selected" : "" %>
                <option value=<%= taskTypeValues[i] %> <%= selected %>><%= taskTypeKeys[i] %></option>
              <% } %>
          </select>
        </div>
        <div class="field">
          <label for="text">Task Primary Device</label>
          <select name="primary_device" id="primary_device">
            <option value="">-- Please Select --</option>
            <% for(var i=0;i<deviceNameList.length;i++) { var selected = primaryDeviceIndex === i ? "selected" : "" %>
              <option value=<%= deviceNameList[i] %> <%= selected %>><%= deviceNameList[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="field">
          <label for="text">Task Secondary Device</label>
          <select name="secondary_device" id="secondary_device">
            <option value="">-- Please Select --</option>
            <% for(var i=0;i<deviceNameList.length;i++) { var selected = secondaryDeviceIndex === i ? "selected" : "" %>
              <option value=<%= deviceNameList[i] %> <%= selected %>><%= deviceNameList[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="field">
          <label for="text">Task Third Device</label>
          <select name="third_device" id="third_device">
            <option value="">-- Please Select --</option>
            <% for(var i=0;i<deviceNameList.length;i++) { var selected = thirdDeviceIndex === i ? "selected" : "" %>
              <option value=<%= deviceNameList[i] %> <%= selected %>><%= deviceNameList[i] %></option>
            <% } %>
          </select>
        </div>
        <div class="field">
          <label for="text">Task Fourth Device (Optional)</label>
          <select name="fourth_device" id="fourth_device">
            <option value="">-- Please Select --</option>
            <% for(var i=0;i<deviceNameList.length;i++) { var selected = fourthDeviceIndex === i ? "selected" : "" %>
              <option value=<%= deviceNameList[i] %> <%= selected %>><%= deviceNameList[i] %></option>
            <% } %>
          </select>
        </div>
        <h4 class="ui horizontal divider header" style="margin-top: 40px;">
            <i class="bar chart icon"></i>
            Choose Task Plan
          </h4>
        <button type="submit" class="ui teal labeled icon button" style="margin: 10px 0;"> <i class="add icon"></i>Create Once-Off Task</button>
        <div class="ui horizontal divider">
          Or Create Recurring Task
        </div>
        <div>
            <div style="display: inline-block;padding-right: 2rem;">
                <h3>Start Date</h3>
                <div class="ui calendar" id="task_start_date_picker">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="start_date" id="start_date" value="<%= start_date %>" placeholder="Start Date">
                  </div>
                </div>
            </div>
            <div style="display: inline-block;padding-right: 2rem;"">
                <h3>End Date</h3>
                <div class="ui calendar" id="task_end_date_picker">
                  <div class="ui input left icon">
                    <i class="calendar icon"></i>
                    <input type="text" name="end_date" id="end_date" value="<%= end_date %>" placeholder="End Date">
                  </div>
                </div>
            </div>
            <div style="display: inline-block;">
              <h3>Run At</h3>
              <div class="ui calendar" id="run_at_time_picker">
                <div class="ui input left icon">
                  <i class="calendar icon"></i>
                  <input type="text" name="run_at" id="run_at" value="<%= task.run_at %>" placeholder="Run At">
                </div>
              </div>
          </div>
        </div>
        
        <div class="ui hidden divider"></div>
        <button type="submit" class="ui primary button">Save</button>
      </form>
     </div>
  </div>
</section>
