<section class="ui center aligned page relaxed grid" style="width: 80%;">
  <div class="row">
    <h1><i class="fas fa-desktop"></i> <%= title %></h1>
  </div>
  <div class="ui hidden divider"></div>
  <div class="eight column relaxed row">
    <div class="ui stacked segment eight wide column">
      <% include ./partials/messages_semantic_ui %>
      <form
        action="/devices/edit_device/<%= settings._id %>"
        method="POST"
        class="ui medium form"
        id="editDeviceFormUncontrolled"
      >
        <div class="field">
          <label for="deviceName">Device Unique Name</label>
          <input
            type="text"
            id="deviceName"
            name="deviceName"
            class="form-control"
            placeholder="Enter A Unique Device Name"
            value="<%= settings && settings.deviceName ? settings.deviceName : '' %>"
          />
        </div>
        <input
          type="hidden"
          name="deviceId"
          id="deviceId"
          value="<%= settings && settings._id ? settings._id : '' %>"
        />
        <input
          type="hidden"
          name="isDeviceApiControlled"
          id="isDeviceApiControlled"
          value="<%= settings && settings.isDeviceApiControlled ? settings.isDeviceApiControlled : '' %>"
        />
        <div class="field">
          <label for="deviceNumberAddr">Device Number/Address</label>
          <input
            type="text"
            id="deviceNumberAddr"
            name="deviceNumberAddr"
            class="form-control"
            placeholder="Enter Device Number or Address"
            value="<%= settings && settings.deviceNumberAddr ? settings.deviceNumberAddr : '' %>"
          />
        </div>
        <div class="ui negative message" id="error_msg_container">
          <i class="close icon"></i> <span id="error_msg"></span>
        </div>
        <div class="ui positive message" id="success_msg_container">
          <i class="close icon"></i> <span id="success_msg"></span>
        </div>
        <div class="ui hidden divider"></div>
        <button
          type="submit"
          class="ui primary button"
          id="saveEditDeviceUncontrolledBtn"
        >
          Save
        </button>
      </form>
    </div>
  </div>
</section>
