<section class="ui center aligned page relaxed grid" style="width: 80%;">
  <div class="row">
    <h1><i class="fas fa-desktop"></i> <%= title %></h1>
  </div>
  <div class="ui hidden divider"></div>
  <div class="eight column relaxed row">
    <div class="ui stacked segment eight wide column">
      <% include ./partials/messages_semantic_ui %>
      <form
        action="/devices/edit_device/<%= settings._id %>"
        method="POST"
        class="ui medium form"
        id="editDeviceForm"
      >
        <div class="field">
          <label for="deviceName">Device Unique Name</label>
          <input
            type="text"
            id="deviceName"
            name="deviceName"
            class="form-control"
            placeholder="Enter A Unique Device Name"
            value="<%= settings && settings.deviceName ? settings.deviceName : '' %>"
          />
        </div>
        <input
          type="hidden"
          name="deviceId"
          id="deviceId"
          value="<%= settings && settings._id ? settings._id : '' %>"
        />
        <input
          type="hidden"
          name="isDeviceApiControlled"
          id="isDeviceApiControlled"
          value="<%= settings && settings.isDeviceApiControlled ? settings.isDeviceApiControlled : '' %>"
        />
        <input
          type="hidden"
          name="modifiedBy"
          id="modifiedBy"
          value="<%= settings && settings.modifiedBy ? settings.modifiedBy : '' %>"
        />
        <div class="field">
          <label for="deviceType">Device Type</label>
          <input
            type="text"
            id="deviceType"
            name="deviceType"
            class="form-control"
            value="<%= settings && settings.deviceType ? settings.deviceType : '' %>"
            readonly
          />
        </div>
        <div class="fields">
          <label for="deviceProtocol" style="padding-left: 10px;"
            >Please select device protocol:</label
          >
          <div class="field">
            <div class="ui radio checkbox">
              <input
                type="radio"
                name="deviceProtocol"
                value="http"
                tabindex="1"
                class="hidden"
                <%= httpCheckedStatus %> 
              />
              <label>http</label>
            </div>
          </div>
          <div class="field">
            <div class="ui radio checkbox">
              <input
                type="radio"
                name="deviceProtocol"
                value="https"
                tabindex="2"
                class="hidden"
                <%= httpsCheckedStatus %>
              />
              <label>https</label>
            </div>
          </div>
        </div>
        <div class="field">
          <label for="deviceIPAddress">Device Endpoint IP Address</label>
          <input
            type="text"
            id="deviceIPAddress"
            name="deviceIPAddress"
            class="form-control"
            placeholder="Enter Endpoint IP Address"
            value="<%= settings && settings.deviceIPAddress ? settings.deviceIPAddress : '' %>"
          />
        </div>
        <div class="field">
          <label for="devicePortNumber">Device Endpoint Port Number</label>
          <input
            type="text"
            id="devicePortNumber"
            name="devicePortNumber"
            class="form-control"
            placeholder="Enter Endpoint Port Number"
            value="<%= settings && settings.devicePortNumber ? settings.devicePortNumber : '' %>"
          />
        </div>
        <div class="field">
          <label for="deviceExtNo">Device Extension Number</label>
          <input
            type="text"
            id="deviceExtNo"
            name="deviceExtNo"
            class="form-control"
            placeholder="This field will be auto-filled"
            value="<%= settings && settings.deviceExtNo ? settings.deviceExtNo : '' %>"
            readonly
          />
        </div>
        <div class="field">
          <label for="deviceUsername">Device Login Username</label>
          <input
            type="text"
            id="deviceUsername"
            name="deviceUsername"
            class="form-control"
            placeholder="Enter Device Login Username"
            value="<%= settings && settings.deviceUsername ? settings.deviceUsername : '' %>"
          />
        </div>
        <div class="field">
          <label for="devicePassword">Device Login Password</label>
          <input
            type="text"
            id="devicePassword"
            name="devicePassword"
            class="form-control"
            placeholder="Enter Device Login Password"
            value="<%= settings && settings.devicePassword ? settings.devicePassword : '' %>"
          />
        </div>
        <div class="ui yellow message" id="msg_loader" style="height: 40px; ">
          <div class="ui active loader"></div>
        </div>
        <div class="ui negative message" id="error_msg_container">
          <i class="close icon"></i> <span id="error_msg"></span>
        </div>
        <div class="ui positive message" id="success_msg_container">
          <i class="close icon"></i> <span id="success_msg"></span>
        </div>
        <div class="ui divider"></div>
        <div class="ui two buttons">
          <button type="button" class="ui green button" id="testEditDeviceBtn">
            Test
          </button>
          <button
            type="submit"
            class="ui primary button"
            id="saveEditDeviceBtn"
          >
            Save
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
